@use './partials/reset';
@use './partials/typography';
@use './partials/all' as *;

body {
  background-color: $bg-primary;
  color: white;
  font-family: BebasNeue, Verdana, Geneva, Tahoma, sans-serif;
}