@use './partials/reset';
@use './partials/typography';
@use './partials/all' as *;

body {
  background-color: $bg-primary;
  color: white;
  font-family: BebasNeue, Verdana, Geneva, Tahoma, sans-serif;
}

.stars {
  background: url('/images/starfield.svg');
}

.planets {
  width: 100%;


  &::after {
    content: '';
    aspect-ratio: 1;
    width: 30vw;
    background: url('/images/planet1.svg') no-repeat;
    background-size: contain;
  }

  &::before {
    content: '';
    transform: scale(-1, -1);
    aspect-ratio: 1;
    width: 20vw;
    background: url('/images/planet1.svg') no-repeat;
    background-size: contain;
  }
}

.big-planet {
  width: 100%;
}