@use './partials/all' as *;

.header {
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: center;

  &List {
    display: flex;
    gap: 2rem;
  }

  &Item {
    color: white;
    text-decoration: none;
  }
}