@use './partials/all' as *;

.home {
  margin: auto;
  padding-left: $edge-mobile;
  padding-right: $edge-mobile;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  min-height: 100vh;

  @include tablet {
    padding-left: $edge-tablet;
    padding-right: $edge-tablet;
    max-width: 50rem;
    font-size: 1.75rem;
  }

  @include desktop {
    padding-left: $edge-desktop;
    padding-right: $edge-desktop;
    max-width: 85rem;
    font-size: 2.5rem;
  }
}

.alt1 {
  color: $text-1;

}

.alt2 {
  color: $text-2;
}