@use './partials/all' as *;

.project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  position: relative;
  padding-top: 4rem;
  width: 30%;


  &::after {
    content: '';
    aspect-ratio: 1;
    width: 100%;
    background: url('/images/Atmosphere.svg') no-repeat top 30% left 49%;
    background-size: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(15px);

    @include tablet {
      filter: blur(25px);
    }

    @include desktop {
      filter: blur(35px);
    }
  }
}

.preview {
  position: relative;
  aspect-ratio: 1;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}